.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars {
  display: "flex";
  flex-direction: "row";
  padding: 10px;
}
.textarea {
  border: 1px, solid, #a9a9a9;
  margin: 10px;
  width: 300px;
  min-height: 100px;
  padding: 10px;
}
.button {
  border: "1px solid #a9a9a9";
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}
